<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/Jump" method="get">
         Hello？<br /><br />
        <label><input name="MilkyTea" type="radio" value="1" />请婕纶喝$1奶茶 </label><br /><br />
        <label><input name="MilkyTea" type="radio" value="10" />请婕纶喝$10奶茶 </label><br /><br />
        <label><input name="MilkyTea" type="radio" value="100" />请婕纶喝$100奶茶 </label><br /><br />
        <input type="submit" value="Submit">
    </form>
    <form action="/Backstage/lo" method="get">
        <label><input type="submit" value="go BackStage"/></label>
    </form>

</body>
</html>